extends views/master
block content
    p What you need to know&hellip;
    ul.paths-menu
        -each path in paths
            li.paths-menu-item
                a(href="")
                span(data-icon=path.icon)
